<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @question.text %>
</p>

<h4>Choices</h4>
<ul>
  <% @question.choices.each do |choice| %>
	 <li>
		<%= choice.text %>
		<% if choice.correct %> (Correct) <% end %>
		
		<%= form_tag({:controller => "choices", :action => "destroy"}) do %>
		  <%= hidden_field_tag :question, @question.id %>
		  <%= hidden_field_tag :choice, choice.id %>
		  <%= submit_tag "Delete" %>
		<% end %>
		
	 </li>
  <% end %>
</ul>

<h5>New Choice</h5>
<%= form_tag({:controller => "choices", :action => "create"}) do %>
  <%= hidden_field_tag :question, @question.id %>
  
  <%= label_tag :text, "Text" %><br />
  <%= text_field_tag :text %>
  <br />
  <%= check_box_tag :correct %>
  <%= label_tag :correct, "Correct" %>
  <br />
  <%= submit_tag "Create" %>
<% end %>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %> | <%= link_to 'New Question', new_question_path %>

<% content_for(:title) do %>
  Question Details
<% end %>
