<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	BetaGram app is an online application which teaches people how to perfect the English Language grammar. It is very good for prospective students of GRE, TOEFL and all other examinations where grammar is tested. It is expected that users would be able to test their ability to communicate in the English Language after going through our quiz. Thanks!
</p>

