<% provide(:title, 'Help') %>
	<h1>Help</h1>
	<p>
		All you need to do is to choose the category of quiz you want to answer and start to feel the experience of being in the hot seat. In case you have not signed up, click here.

	</p>

