<footer class="footer">
	<small>
			© Abimbola Idowu and Yusuf Daniju
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			
		</ul>
	</nav>
</footer>