<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "BetaGram:::Free Online English Test", root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", root_path %></li>
						<!-- <li><%= link_to "Help", help_path %></li> -->
						<% if signed_in? %>
							<li><%= link_to "Users", '#' %></li>
							<!-- <li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggles="dropdown">Account <b class="caret"></b>
								</a>
								<ul class="dropdown-menu"> -->
									<li><%= link_to @current_user.name, current_user %> </li>
									<li><a href="questions/new"></a></li>
									<!-- <li><%= link_to "Settings", '#' %> </li> -->
									<!-- <li class="divider"></li> -->
									<li>
										<%= link_to "Sign Out", signout_path, method: "delete" %>
									</li>
								<!-- </ul> -->
							<<!-- /li> -->
							<% else %>
								<li><%= link_to "Sign in", signin_path %></li>
							<% end %>
					</ul>
				</nav>
			</div>
		</div>
</header>